body{
  background-image: url("https://www.herzing.edu/sites/default/files/styles/fp_960_480/public/2020-09/how-to-become-software-engineer.jpg.webp?itok=uuamJN8l");
  font-size: 12px;
  font-family: arial;
}

h1{
  font-size: 18px;
  border-style: ridge;
  border-radius: 20px;
  background-color: beige;
  padding: 16px;
  text-align: center;
  margin: 16px;
}

img{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin: 16px;
  border-style: ridge;
}

h3{
  background-color: beige;
  border-radius: 18px;
  padding: 16px;
  border-style: ridge;
  text-align: center;
  margin: 16px;
}

h4,h5{
  padding-left: 16px;
}

div{
  border-style: ridge;
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  background-color: beige;
  margin: 16px;
}
